* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #ff8f00;
    text-decoration: none;
}

a:hover {
    color: #f7a2a2;
    opacity: 1.0;
    text-decoration: none;
}


h3 {
    color: #fff;
}

header {
    padding: 10px;
    align-items: center; 
    position: fixed;
    width: 100%;

}

.active {
    text-decoration: none; 
    font-weight: bold; 
    overflow-x: auto;
    color: #ee4444;
}


nav ul {
    list-style: none;
    font-size: 16px;
    text-align: center;
    opacity: 1.0;
}

.inactive {
    opacity: 0.5;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.machine-icon-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}


.hero {
    background-size: cover;
    background-position: center;
    color: #e99420;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


.latest-writeups {
    padding: 50px 0;
}

.writeup {
    background-color: #323232;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.writeup h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.writeup p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.writeup a {
    color: #e94545;
    text-decoration: none;
    font-weight: bold;
}

.writeup a:hover{
    color: #f06d6d;
}


pre {
    border-radius: 10px;
    background-color: #252525;
    border: 1px solid #252525;
    border-left: 3px solid #d32f2f;
    color: #c9c9c9;
    page-break-inside: avoid;
    font-family: Consolas, Monaco, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: auto;
    padding: 15px;
    display: block;
}

pre code {
    background-color: inherit;
    border: none;
    padding: 0;
    display: inline;
    line-height: inherit;
}


.about-content {
    padding: 50px;
    background-color: #222;
    color: #fff;
}


.profile-image-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
}

.social-image-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
}

.profile p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto auto; 
    align-items: center; 
    gap: 10px; 
}

.social-links a {
    text-decoration: none;
    color: #ff9033; 
}

.social-links a:hover {
    text-decoration: underline; 
    color: #f3c07e;
}

@media (max-width: 768px) {
    .about-content {
        padding: 10px; 
    }

    nav ul {
        list-style: none;
        font-size: 14px;
        text-align: center;
    }

    .profile-image-circle {
        width: 150px; 
        height: 150px;
        margin-right: 10px; 
        float: none; 
        display: block; 
        margin: 0 auto; 
    }

    .social-image-circle {
        width: 20px; 
        height: 20px;
        margin-right: 5px;
    }

    .profile p {
        margin-top: 15px;
        font-size: 16px; 
        line-height: 1.6;
        margin-bottom: 10px; 
    }

    .social-links {
        gap: 15px; 
    }

    nav ul {
     list-style: none;
     text-align: center;
     margin-left: 25px;
    }
}

.writeup-panel {
    background-color: #323232;
    padding: 20px;
    width: 25%; 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}


.machine-icon-circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.machine-info {
    text-align: center; 
    margin-bottom: 10px;
}

.machine-links {
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px; 
    text-align: center; 
}

.machine-links li {
    margin-bottom: 10px;
    margin-top: 20px;
}



.writeup-content-main {
    margin-left: 25%; 
    padding: 20px;
    line-height: 1.5;
    color: #fff;
}


@media (max-width: 768px) {
    .writeup-panel {
        display: none;
    }
    body {
        font-size: 16px; 
    }
}

footer {
    background-color: #9a0303; 
    text-align: center;
    padding: 10px 0;

}

.about-footer {
    background-color: #9a0303; 
    text-align: center;
    padding: 10px 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
}
